html,
body
  height: 100%

body
  font-family: $font
  background: rgba(248, 97, 55, 0.9)
  display: flex
  flex-direction: column

.container
  display: flex
  justify-content: center
  align-items: center
  flex-flow: row nowrap
  flex: 1 0 auto

  .app-title
    font-size: 3em

  .instruction-label
    font-size: 1.5em
    letter-spacing: 1px

  .instruction-col
    text-align: center

  .instruction-items
    margin-right: 2em

  .size-div
    display: flex
    align-items: center

    label
      font-size: 1em
      margin: 10px

    input[type=number]
      padding-left: 5px

  .button-div
    margin-top: 1em

    #create
      +button
      background: #039be5
      border-color: #039be5

    #reset
      +button
      background: #e53935
      border-color: #e53935

@media screen and (max-width: 47em)
  .container
    flex-flow: column nowrap
